{% extends "WebMainBundle::layout.html.twig" %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="alert alert-danger" style="margin-top: 10px">
	        {{ flashMessage }}
	        <button type="button" class="close" data-dismiss="alert">&times;</button>
	    </div>
	{% endfor %}
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
	  	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyDp96hrrsl5Guz4pm0R3AzSOKUUm0HzFJQ" type="text/javascript" charset="utf-8"></script>
	  	<script src="{{ asset('js/velib.js') }}" type="text/javascript"></script>

	  	<div class="page-header">
			<h1>Carte Vélib</h1>
		</div>
			<div class="row" style="margin-left:20px;">
				<form action="#" method="post">
					<strong style="font-size:20px;">Start: </strong>
					<input id="start" type="text" value="" >
					<strong style="font-size:20px;margin-left:20px;">End: </strong>
					<input id="end" type="text" value="" >
					<input id="send" class="btn btn-warning" style="margin-top:-10px;width:60px;" onclick="javascript:traceRoute()" value="Send" >
				</form>
			</div>
		<div class="row">
			<div id="map" class="span12">
				Afin d'afficher la carte de Google, vous devez activer Javascript.
			</div>
			<div id="route" style="margin-left:20px;"></div>
		</div>
	
	
		<legend>Station sélectionnée :</legend>

		{% if form %}
			<form action="{{ path('add_favori') }}" method="post" {{form_enctype(form) }} >
				<table class="table table-bordered" id="table-selected">
					<tr>
						<td>
							{{ form_label(form.nomStation, "Nom station :") }}
							<span id="name_station"></span>
						</td>
						<td style="display:none">
							{{ form_widget(form.nomStation, {'attr' : {'class' : 'uneditable-input'}}) }}
							{{ form_widget(form.slugNomStation, {'attr' : {'class' : 'uneditable-input'}}) }}
							{{ form_widget(form.latitude, {'attr' : {'class' : 'uneditable-input'}}) }}
							{{ form_widget(form.longitude, {'attr' : {'class' : 'uneditable-input'}}) }}
						</td>
						<td>
							<input type="submit" class="btn btn-warning btn-block" />
						</td>
					</tr>
				</table>
			</form>
		{% endif %}

	{% else %}
		<h1 class="alert">Connexion requise</h1>
	{% endif %}

{% endblock %}